<div ng-app="slider">

<div class="jumbotron-left">
  <h2>Breadth Courses</h2>
  <p>Slide to the number of credits you've taken for each category.</p>
  <section>
		<input type="range" min="0" max="6" step="1" value="0">
		<strong>B-Hum:</strong> &nbsp; <outpit id="js-output"></output>
	</section>

	<section>
		<input type="range" min="0" max="6" step="1" value="0">
		<strong>B-Sci:</strong> &nbsp;<outpit id="js-output"></output>
	</section>

	<section>
		<input type="range" min="0" max="6" step="1" value="0">
		<strong>B-Soc:</strong>&nbsp;<outpit id="js-output"></output>
	</section>

	<section>
		<input type="range" min="0" max="6" step="1" value="0">
		<strong>Undesignated Breadth:</strong>&nbsp; <outpit id="js-output"></output>
	</section>
</div>
</div>

