<div class="jumbotron">

	<div class="container-fluid">
		<div class="row">
			<!-- <div class="col-md-2"> -->

				Search: <input ng-model="query">
				Sort by: 
				<select ng-model="orderProp">
					<option value="name">Alpha</option>
					<option value="age">Newest</option>
				</select>
			<!-- </div> -->
			<div class ="col-md-10">
				<ul class="courses course-btn ">
					<li class="iatbtn" ng-repeat="course in courses | filter:query | orderBy:orderProp" ng-click="buttonAction(iatSelected)">

						{{course.name}}
						{{course.snippet}}
					</li>
				</ul>
			</div>


		</div>
	</div>


</div> <!-- end jumbotron -->
