<div class="jumbotron">

	<div class="container-fluid">
		<div class="row">
			<!-- <div class="col-md-2"> -->

				Search: <input ng-model="query">
				Sort by: 
				<select ng-model="orderProp">
					<option value="name">Alpha</option>
					<option value="age">Newest</option>
				</select>
			<!-- </div> -->
			<div class ="col-md-10">
				<ul class="courses">
					<li ng-repeat="course in courses | filter:query | orderBy:orderProp" ng-click="buttonAction()">
						{{course.name}}
						{{course.snippet}}
					</li>
				</ul>
			</div>


<!-- 			<h3>Buttons clicked on main page</h3>
			<p ng-repeat="item in menuItems track by $index">
				{{item.message}}
			</p> -->
		</div>
	</div>


</div> <!-- end jumbotron -->
